.container {
   height: 100vh;
   max-width: 992px;
   margin: 0 auto;
}

.title {
   text-align: center;
   text-transform: uppercase;
   letter-spacing: 0.3rem;

   font-weight: lighter;

   padding: 2.5rem 0;
}
